* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }
  
li {
    list-style: none;
  }


  body {
    min-height: 100vh; 
    background-color: #fefefe;
    background: var(--clr-bg);
    background-color: #f0f0f0;

    letter-spacing: 1.25px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;

    /* overflow: hidden; */

}  

color: #6F8E88;         color: #999B84;
color: #F2DED7;         color: #F4EEED;
color: #DBCFC3;         color: #EFD9D1;
color: #D3E3D6;         color: #DDB7AAB;
color: #EFC5B9;
color: #F8F3EF;
/* --------------------------------- Normal Styles */

/* ----- Fixed Topnav Section ----- */




.topNav {
    background-color: var(--secondary-clr); 
    background:#6F8E88; 

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px; 
    padding: 0; 
}

.fixed-top {
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    /* overflow: hidden; */
} 

.container-top {
    background-color: #212529;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin: 0 auto 5px auto;
    padding: 20px;
    max-height: 25px;
    width: 100%;
} 


.top-bar_content {
    width: 90%; 
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
}

.top-bar_content a { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 5px auto 5px auto;
    width: 90%;
}

.top-bar_content i { 
    color:  var(--primary-clr);
    color: #999B84;
    margin-right: 5px;
 
}

.top-bar_content p {    
    font-family: var(--ff-1);
    font-size: var(--fs-p); 
    font-weight: var(--fw-b); 
    color:  var(--primary-clr);
    color: #999B84;
    font-style: italic;
    margin: 5px;
    padding: 8px; 
}

.navbar-brand {   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

.navbar-brand img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 220px;
    display: block;
}

.titleName h3 {
    font-family: var(--ff-1);
    font-size: var(--fs-3);
    font-weight: var(--fw-xb);
    color: var(--txt-clr-1);

    font-style: italic;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 35px; 
}

.navbar-toggler {
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 5px;
    border: 2px solid #212529;
    box-shadow: 2px 2px #3e8e41; 
}

.navbar-toggler i {
    width: 20px;
    font-size: 2rem; 
    font-weight: 600; 
    justify-self: center;
    align-self: center; 
    color: #212529;
    color: red;
} 



/* ----- Fixed Navbar and Logo Section ----- */

.navbar {
    background-color: var(--primary-clr); 
    background-color:#D3E3D6;
    background-color:#6F8E88; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    width: 100%; 
    margin: 0 auto 0 auto; 
    padding: 10px 30px 0px 30px;  
    z-index: 1000;
} 

.cont-nav  {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

.navbar-nav-scroll {
    height: 130%;
}
ul.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px 10px 10px; 
    align-items: center; 
    justify-content: space-evenly;
}

.nav-item .nav-link  {
    color: var(--txt-clr-1);
    font-family: var(--ff-1);
    font-size: var(--fs-6); 
    letter-spacing: .5px; 
    padding: 5px 10px 5px 10px;

    align-items: center; 
    justify-content: center;
    text-align: center;
} 

.nav-item:hover, 
.nav-link.active:hover,
.nav-link:hover {
    color: #fff;
    color: aqua;
    background-color: rgba(0,0,0,0.15);
} 

.navbar-toggler {
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 5px;
    border: 2px solid #212529;
    box-shadow: 2px 2px #3e8e41; 
}

.navbar-toggler i {
    width: 24px;
    font-size: 2rem; 
    font-weight: 600; 
    justify-self: center;
    align-self: center; 
    color: #212529;
    padding-right: 30px;
} 



/* ----- Dropdown Section ----- */

.nav-item:hover, 
.dropdown:hover .nav-link {
    color: #fff;
    color: coral;
    background-color: rgba(0,0,0,0.15); 
} 

.dropdown {
    position: relative;
    font-size: 1rem;
    font-weight: 400; 
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu,
.submenu-menu {
    background: #FFEAE6;
    background: rgb(68, 255, 0);
    position: absolute;
    left: 0;  
    top: 100%;
    min-width: max-content; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    display: none;
    text-align: left;
}

/* .dropdown-menu .submenu {
 

    left: 100%;
    top: 0;
} */

.dropdown-item,
.dropdown-link {
    color: #232949;
    color: yellow;
}

.submenu-item,
.submenu-link{
    color: #232949;
    color: chartreuse ;
}

.dropdown-item,
.submenu-item {
    padding: 10px 12px 10px 8px; 
    cursor: pointer;
}

submenu-item {
    padding: 10px 12px 10px 8px; 
    margin-left: -20px;
    margin-top: 8px;
    margin-bottom: 5px;
    cursor: pointer;
}

.dropdown-item:hover,
.submenu-item:hover {
    background-color: rgba(0,0,0,0.25);
}

.submenu {
    position: relative;
}

.submenu:hover .submenu-menu {
    display: block;
}

.submenu-menu {
    top: 0;
    left: 100%;    
}  



/*--------------Media queries */


@media (max-width: 1470px) {
    .dropdown-menu {
      left: initial;
      right: 0;
    } 
 
    .submenu-menu {  
        /* This may need to be djusted if on the main nav it opens on the opposite side */
        left: initial;
        right: 100%;
      } 
 /* This adjusts the size: of the dropdown box to accomdate more txt */
 
 }
 
 
 @media (max-width: 650px) {
    .nav_list { 
        column-gap: 10px;
    } 
 
    
    .dropdown {
      position: initial;
    }
 
    .dropdown-menu {
        width: 100%;
        top: 100%;
        text-align: center;
    }
 
    
    .submenu-menu {
     width: 100%;  
     top: 100%;
     left: 0;
     right: initial;
    }

 }
 
 

